<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        App Notes
                    </h1>
                    <h2 class="subtitle">
                        CRUD app to work with text files. <br> Subject: Lenguajes web
                    </h2>
                </div>
                <div class="column">
                    <figure class="image is-128x128">
                        <img src="./img/files.svg">
                      </figure>
                </div>
              </div>
            
            
        </div>
    </div>
</section>
<div class="inbox-messages" id="inbox-messages">
    <div class="card">
        <div class="card-content">
            <div class="msg-subject">
                <span class="msg-subject"><strong id="fake-subject-1">Selecciona un archivo</strong></span>
            </div>
        </div>
    </div>
</div>