<div class="inbox-messages" id="inbox-messages">
    <div class="card">
        <div class="card-content">
            <div class="msg-header">
                <!-- <span class="msg-from"><small>Date</small></span> -->
                <span class="msg-timestamp"></span>
                <span class="msg-attachment"><div class="control is-grouped"><a class="button is-small"><i class="fa fa-edit"></i></a> <a class="button is-small"><i class="fa fa-trash"></i></a></div></span>
            </div>
            <div class="msg-subject">
                <span class="msg-subject"><strong id="fake-subject-1">Title</strong></span>
            </div>
            <div class="msg-snippet">
                <p id="fake-snippet-1">Body</p>
            </div>
        </div>
    </div>
</div>