<div class="inbox-messages" id="inbox-messages">
    <div class="card">
        <div class="card-content">
            <div class="msg-header">
                <!-- <span class="msg-from"><small>Date</small></span> -->
                <span class="msg-timestamp"></span>
                <span class="msg-attachment"><div class="control is-grouped"><a class="button is-small"><i class="fa fa-edit"></i></a> <a class="button is-small"><i class="fa fa-trash"></i></a></div></span>
            </div>
            <div class="msg-snippet">
                <input class="input my-2" type="text" placeholder="Title">
                <textarea class="textarea" placeholder="Body..."></textarea>
            </div>
        </div>
    </div>
</div>